<table style="width: 100%">
    <link rel="stylesheet" href="css/styles.css" type="text/css" >
    <tr>
        <th>Poster</th>
        <th>Movie Name</th>
        <th>Movie Year</th>
        <th>Movie Rating</th>

    </tr>
    <tr>
        <td>
        <img height="250" width="250" src="https://images-na.ssl-images-amazon.com/images/M/MV5BNzMxNTExOTkyMF5BMl5BanBnXkFtZTcwMzEyNDc0OA@@._V1_SY1000_CR0,0,674,1000_AL_.jpg">
        </td>
        <td>Wreck it Ralph</td>
        <td>(2012)</td>
        <td>7.8/10</td>
    </tr>
    <tr>
         <td>
        <img height="250" width="250" src="https://images-na.ssl-images-amazon.com/images/M/MV5BOTI5ODc3NzExNV5BMl5BanBnXkFtZTcwNzYxNzQzMw@@._V1_SY1000_CR0,0,675,1000_AL_.jpg">
        </td>
        <td>V for Vendetta</td>
        <td>(2005)</td>
        <td>8.2/10</td>
    </tr>
    <tr>
        <td>
        <img height="250" width="250" src="https://images-na.ssl-images-amazon.com/images/M/MV5BNDIyZjQ5M2EtYTcwMS00MGFiLWE2NmYtZGQwMzg1NjI5MmJlXkEyXkFqcGdeQXVyNjQyMjcwNDM@._V1_SY1000_SX675_AL_.jpg">
        </td>
        <td>Children of Men</td>
        <td>(2006)</td>
        <td>7.9/10</td>
    </tr>
    <tr>
        <td>
        <img height="250" width="250" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMzk2OTg4MTk1NF5BMl5BanBnXkFtZTcwNjExNTgzNA@@._V1_SY1000_CR0,0,666,1000_AL_.jpg">
        </td>
        <td>Goldeneye</td>
        <td>(1995)</td>
        <td>7.2/10</td>
    </tr>
    <tr>
        <td>
        <img height="250" width="250" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTY3NjY0MTQ0Nl5BMl5BanBnXkFtZTcwMzQ2MTc0Mw@@._V1_SY1000_CR0,0,675,1000_AL_.jpg">
        </td>
        <td>Despicable Me</td>
        <td>(2010)</td>
        <td>7.7/10</td>
    </tr>
    <tr>
        <td>
        <img height="250" width="250" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTc5YjQ0MGQtOTdjZS00OGZhLTk1ZGItMThjOGFiZmMxYWRjL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SY1000_SX675_AL_.jpg">
        </td>
        <td>Serenity</td>
        <td>(2005)</td>
        <td>8/10</td>
    </tr>    
    <tr>
        <td>
        <img height="250" width="250" src="https://images-na.ssl-images-amazon.com/images/M/MV5BNzlhYjEzOGItN2MwNS00ODRiLWE5OTItYThiNmJlMTdmMzgxXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX645_CR0,0,645,999_AL_.jpg">
        </td>
        <td>Big Trouble in Little China</td>
        <td>(1986)</td>
        <td>7.3/10</td>
    </tr>    
    <tr>
        <td>
        <img height="250" width="250" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTU2NTYxODcwMF5BMl5BanBnXkFtZTcwNDk1NDY0Nw@@._V1_SY1000_CR0,0,674,1000_AL_.jpg">
        </td>
        <td>Men in Black 3</td>
        <td>(2012)</td>
        <td>6.3/10</td>
    </tr>    
    <tr>
        <td>
        <img height="250" width="250" src="https://images-na.ssl-images-amazon.com/images/M/MV5BOTFlNjI0NDQtMzlkNC00ZDU0LWE0ODktYmI2OTc2YjZlZmVlXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SY1000_CR0,0,675,1000_AL_.jpg">
        </td>
        <td>Lethal Weapon 3</td>
        <td>(1992)</td>
        <td>6.7/10</td>
    </tr>    
    <tr>
        <td>
        <img height="250" width="250" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTI4MDM0NjM2Ml5BMl5BanBnXkFtZTcwMTcwNjUxMQ@@._V1_.jpg">
        </td>
        <td>Who am I</td>
        <td>(1998)</td>
        <td>6.8/10</td>
    </tr>